ul {
  list-style: none;
  padding: 0;
}

ul.list {
  background-color: #fff;
  height: 100%;
  margin-top: 0;
  padding-top: 15%;
  position: fixed!important;
  width: 211px;
}

li.list-item {
  font-size: 15px;
  line-height: 1.5;
  margin-left: 25px;
  margin-right: 20px;
  padding: 8px 17px;
  text-transform: uppercase;
}

.list-item a {
  color: #82b3ac;
  letter-spacing: 1px;
  text-decoration: none;
}

.list-item a::before {
  content: attr(data-hover);
  color: #696868;
  position: absolute;

  transition: transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
}

.list-item a:hover::before,
.list-item a:focus::before {
  opacity: 0;
}

section {
  padding-left: 220px;
}