.logo {
  height: auto;
  width: 140px;
}

.sidebar-block {
  border: none;
  display: block;
  outline: none;
  padding: 8px 16px;
  text-align: left;
}

.list-item a {
  cursor: pointer;
  text-decoration: none;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

li.list-item {
    padding: 10px;
    text-align: center;
}

.sidebar {
  background-color: #fff;
  height: 100%;
  position: fixed!important;
  width: 300px;
  z-index:3;
}

section {
    border-left: 1px solid rgba(128, 128, 128, 0.39);
    margin-left: 183px;
    padding: 1em;
    width: 500px;
}